<%= render 'shared/content_title', title: 'Welcome!'%>
<hr>
<%= render 'shared/error_messages', postit_object: @user %>


<div ng-app="CofitApp" ng-controller="CofitCtrl" ng-init="getUser">
  <h1>Welcome to Cofit, <%= @user.username%>!</h1>
  {{user.username}}
</div>
