<div class="col-md-12" id="custom_footer">
  <hr>
  <br>
  <div class="inner">
    <p>
      © CofitApp 2015 by <%= link_to "Eugene Chang", "https://yuyueugene84.herokuapp.com/" %>
    </p>
  </div>
</div>
